.hero {
  background-image: url(../../assets/images/snow-icon.png),
    url(../../assets/images/snows.png);
  background-size: 200px, 300px;
  background-position: 1300px top, 505px 405px;
  background-repeat: no-repeat;
}
